/* id = main */
#main{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* id = dynamic-message */
#dynamic-message {
    color: #555; /* Slightly lighter grey for the paragraph */
    border: 1px solid #ddd; /* A subtle border */
    padding: 10px; /* Some padding around the text */
    margin: 20px; /* Space around the paragraph */
    border-radius: 5px; /* Rounded corners for the border */
    background-color: #fff; /* White background for the paragraph */
}

#main_navbar{
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center; /* If you want the text to be centered */
}